[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false

[rpc_endpoints]
memecore_testnet = "https://formicarium.memecorescan.io"

[etherscan]
memecore_testnet = { key = "${MEMECORESCAN_API_KEY}", url = "https://formicarium.memecorescan.io/api" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
